*{
    font-family: 'Gaegu', cursive;
    color: white;
    background-color: #B88B5C;
}
body {
    padding: 60px;
  }

  .lista{
    display: flex;
    justify-content: end;
    
 
  }
  .lista li{
    margin: 0 0px;
    list-style: none;
    
  }
  

  .cabecera a{
    text-decoration: none;
    display: inline-block;
    padding: 15px 25px;
    border: 3px solid #fff;
    width: 100px;
    text-align: center;
    background-color: black;
   
  }
  .cabecera a:hover{
    color: orange;
    
  
     
  }
  .slider img{
    position: 'fixed';
      top: '15px';
      left:'20px';
     width:'200px';
  }
  