*{
    font-family: 'Gaegu', cursive;
    color: white;
    background-color: #B88B5C;
}
body {
    padding: 60px;
  }

  .lista{
    display: flex;
    justify-content: end;
    
 
  }
  .lista li{
    margin: 0 0px;
    list-style: none;
    
  }
  
  .cabecera{
    width: 120px;
    height: 30px;
    padding: auto;
    border-style: solid;
    border-color: white;
    background-color: black;
    text-align: center;

  }
  .cabecera a{
    text-decoration: none;
    width: 120px;
    height: 30px;
    background-color: black;
   
  }
  a:hover{
    color: orange;
    
  
     
  }